player-connection-mode=Listen
player-connection-guid=1891831206
player-connection-debug=1
player-connection-project-name=TapGame
player-connection-ip=10.204.6.71
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=844b5191534f49099168b4d6200667e2
