player-connection-mode=Listen
player-connection-guid=2411478506
player-connection-debug=1
player-connection-project-name=TapGame
player-connection-ip=10.204.6.71
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c4a42dcef33e4b3598235d6026af98be
